$button-small-default: 'f7 link dim br2 ph3 pv2 ba b--blue dib white bg-blue pointer';
$button-default: 'f6 link dim br2 ph3 pv2 ba b--blue dib white bg-blue formular pointer';
$button-large-default: 'f5 link dim br2 ph4 pv3 ba b--blue dib white bg-blue formular pointer';
$color-blue: #4948ee;
$color-dark-blue-gray: #494454;
$color-light-blue-gray: #aea9ba;
$color-purple: #8b40d6;
$color-blue-darker: #3d348b;
$color-red: #c70122;
$color-green: #2f9d2f;
$color-orange: #f56b07;
$color-yellow: #f2c94c;
$color-near-black: #1d1a27;
$color-mid-gray: #767676;
$color-gray: #949494;
$color-light-gray: #eeeeee;
$color-near-white: #f9f9fa;
$color-blue-haze: #8080f3;
$color-blue-fog: #c0c0f9;
$body-classes-default: 'h-100 w-100 sans-serif font-smoothing tabular-figures';
$font-family-serif: 'Roboto';
$font-family-sans-serif: 'Roboto Mono';
$typography-headline: 'f-headline lh-solid roboto';
$typography-subheadline: 'f-subheadline lh-title roboto';
$typography-f1: 'f1 lh-title roboto normal';
$typography-f2: 'f2 lh-copy roboto normal';
$typography-f3: 'f3 lh-copy roboto normal';
$typography-f4: 'f4 lh-copy roboto normal';
$typography-f5: 'f5 lh-copy roboto';
$typography-f6: 'f6 lh-copy roboto normal';
$typography-button: 'f5 lh-copy roboto normal';
$link-default: 'link dim blue';